<%= simple_form_for(@bet, remote: true) do |f| %>
  <div class="form-inputs">
    <%= f.input :bet_amount %>
    <%= f.input :bet_amount_currency,
      collection: all_currencies, label: 'Bet currency' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Place a bet' %>
  </div>
<% end %>
