<% unless flash.empty? %>
  <div class="container">
    <% flash.each do |f| %>
      <div class="card">
        <div class="card-body">
          <%= f[1] %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
