

<div class="row">

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <%= render 'bets/form', remote: true %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <%= render 'accounts/index' %>
      </div>
    </div>
  </div>

</div>

<div class="card">
  <div class="card-body">
    <%= render 'bets/last_bets' %>
  </div>
</div>
