---
http_interactions:
- request:
    method: get
    uri: http://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 15 Dec 2017 14:55:09 GMT
      Etag:
      - '"658-560622fd36d40"'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<gesmes:Envelope xmlns:gesmes=\"http://www.gesmes.org/xml/2002-08-01\"
        xmlns=\"http://www.ecb.int/vocabulary/2002-08-01/eurofxref\">\n\t<gesmes:subject>Reference
        rates</gesmes:subject>\n\t<gesmes:Sender>\n\t\t<gesmes:name>European Central
        Bank</gesmes:name>\n\t</gesmes:Sender>\n\t<Cube>\n\t\t<Cube time='2017-12-15'>\n\t\t\t<Cube
        currency='USD' rate='1.1806'/>\n\t\t\t<Cube currency='JPY' rate='132.45'/>\n\t\t\t<Cube
        currency='BGN' rate='1.9558'/>\n\t\t\t<Cube currency='CZK' rate='25.678'/>\n\t\t\t<Cube
        currency='DKK' rate='7.4443'/>\n\t\t\t<Cube currency='GBP' rate='0.88253'/>\n\t\t\t<Cube
        currency='HUF' rate='313.43'/>\n\t\t\t<Cube currency='PLN' rate='4.2167'/>\n\t\t\t<Cube
        currency='RON' rate='4.6332'/>\n\t\t\t<Cube currency='SEK' rate[...]
