---
http_interactions:
- request:
    method: post
    uri: https://api.random.org/json-rpc/1/invoke
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"generateIntegers","params":{"apiKey":"88fba67f-eca3-49f0-b285-78ef3028edd3","n":1,"min":0,"max":500,"replacement":true,"base":10},"id":24780}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"random":{"data":[497],"completionTime":"2017-12-17
        13:45:42Z"},"bitsUsed":9,"bitsLeft":249563,"requestsLeft":911,"advisoryDelay":1100},"id":24780}'
  recorded_at: Sun, 17 Dec 2017 13:45:42 GMT
recorded_with: VCR 4.0.0
